{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules":{
        "no-console":2,
        "eqeqeq":"error",
        "max-len": ["error",{ "code": 125}],
        "keyword-spacing": ["error", { "before": true, "after": true}],
        "@typescript-eslint/no-explicit-any": ["error"],
        "no-extra-semi": "off",
        "@typescript-eslint/no-extra-semi": ["error"]
    }
  }