<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.frontend">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".Utilities.HRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/blueflush_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/blueflush_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Frontend">
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Frontend.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.HomePageMainActivity"
            android:label="Home Page">
        </activity>

        <activity
            android:name=".Activities.ForgetPasswordActivity"
            android:label="Recover Password"
            android:parentActivityName=".Activities.LoginActivity">
        </activity>

        <activity
            android:name=".Activities.CheckInOutActivity"
            android:label="Check In/Out"
            android:parentActivityName=".Activities.HomePageMainActivity">
        </activity>

        <activity
            android:name=".Activities.CheckInDetailActivity"
            android:label="Check In"
            android:parentActivityName=".Activities.CheckInOutActivity">
        </activity>

        <activity
            android:name=".Activities.EditBusinessCardActivity"
            android:label="Edit Business Card">
        </activity>

        <activity
            android:name=".Utilities.CaptureActivityPortrait"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity
            android:name=".leaveModule.LeaveAddActivity"
            android:label="Add Leave">
        </activity>

        <activity
            android:name=".leaveModule.LeaveCalendarActivity"
            android:label="Leave Calendar">
        </activity>

        <activity
            android:name=".leaveModule.LeaveSummaryActivity"
            android:label="View Leave">
        </activity>

        <activity
            android:name=".Activities.AccountActivity"
            android:label="Profile">
        </activity>

        <activity
            android:name=".Activities.EditProfileActivity"
            android:label="Edit Profile">
        </activity>

        <activity
            android:name=".Activities.PasswordActivity"
            android:label="Change Password">
        </activity>

    </application>

</manifest>